<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profesionales Disponibles</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <ion-list >
    <ion-list-header>
      Psicologia
    </ion-list-header>
    
    <ion-item *ngFor="let p of profesionales" (click)="verDetalleProfesional(p)">
      <ion-label>
        <h2>{{ p.nombre_apellido }}</h2>
        <h3>{{ p.profesion_rama | uppercase }}</h3>
        <p>{{ p.telefono_celular }}</p>
      </ion-label>
      <ion-icon name="data" item-end></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
