<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{ profesional.nombre_apellido }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> 

<ion-content>
    <ion-list>
      <ion-item>
        <ion-label>Área: {{ profesional.profesion_rama | uppercase }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Nro de Socio: {{ profesional.nro_socio }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Nro de Registro: {{ profesional.registro_nro }} </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Télefono/Celular: {{ profesional.telefono_celular }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Disponibilidad: {{ profesional.hora_dia_disponible }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Modalidad de Atención: {{ profesional.modalidad_atencion }}</ion-label>
      </ion-item>
      
      <ion-button expand="block" type="button" (click)="contactarProfesional()">
          Contactar
      </ion-button>
    </ion-list>
  
    
  
</ion-content>
