<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de la APP </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Colaboradores
    </ion-list-header>
    <ion-item>PhD. M. Alexandra Vuyk - 
        <a href="https://twitter.com/alexvuyk" target="parent"> @alexvuyk</a>
    </ion-item>
    <ion-item>Mateo Vera</ion-item>
    <ion-item>
        Iván Fretes -
        <a href="https://twitter.com/vanfres" target="parent"> @vanfres</a>
    </ion-item>

    <ion-list-header>
      Herramientas
    </ion-list-header>
    <ion-item>Ionic 5</ion-item>
    <ion-item>Angular 8</ion-item>
    <ion-item>TypeScript</ion-item>
    <ion-item>NodeJS</ion-item>
    <ion-item>Express</ion-item>
    <ion-item>MongoDB</ion-item>
    <ion-item>Apache POI</ion-item>

    <ion-list-header>
      Políticas de Privacidad
    </ion-list-header>
    <ion-item>
        (Trabajando en la documentación)
    </ion-item>
    
    <ion-list-header>Más info</ion-list-header>
    
    <ion-item>
        <a href="mailto:vanfretes@gmail.com?subject=COVID19py"
            target="parent">
            vanfretes@gmail.com
        </a>
    </ion-item>

    <ion-list-header> Versión</ion-list-header>
    <ion-item>
      0.0.4
    </ion-item>    
    
  </ion-list>

</ion-content>
