<ion-header [translucent]="true" >
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  fullscreen>

  <ion-card>
    <ion-item>
      <ion-label>
        Bienvenid@s
      </ion-label>
    </ion-item>

    

    <ion-card-content>
      <div style="text-center">
        <img  src="../../assets/icon/logo-spps.jpg">
      </div>

      Esta aplicación tiene como proposito ser de utilidad para aquellas personas que necesiten ayuda psicológica gratuita en Paraguay.
      <br>
      Ingrese al menú, para acceder al listado de profesionales psicologos.
    </ion-card-content>
  </ion-card>
  
</ion-content>
